/* BetterText.css v0.1 */

/* Typography */

/* headers and paragraphs */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}
h1 {
    margin-top: 2.5em;
    font-size: 2.5em;
    margin-bottom: 0.4em;
}
h2 {
    margin-top: 2em;
    font-size: 2em;
    margin-bottom: 0.5em;
}
h3 {
    margin-top: 2em;
    font-size: 1.75em;
    margin-bottom: 0.57143em;
}
h4 {
    font-size: 1.5em;
    margin-bottom: 0.66666em;
}
h5 {
    font-size: 1.25em;
    margin-bottom: 0.8em;
}
h6 {
    font-size: 1em;
    margin-bottom: 1em;
}

/* double headers */
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
    margin-top: 1.5em;
}

/* first headers */
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

p {
    margin: 0 0 1em;
}

/* minimum paragraph width when floating http://css-tricks.com/minimum-paragraph-widths/ */
p:before,
article ol:before,
article ul:before {
    content: '';
    display: block;
    width: 10em;
    overflow: hidden;
}
li p:before {
    content: none;
}

p code {
    font-size: 1.1em;
    line-height: 0.8;
}
sup,
sub {
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.5em;
}

hr {
    border:0;
    border-bottom:1px dotted;
    margin:2em auto;
    width:60%;
}
abbr {
    letter-spacing: .05em;
    margin-right: -.05em;
}
strong, b, dt {
    font-weight: inherit;
}
strong, b, dt {
    font-weight: bolder;
}
/* lists without classes */
ul:not([class]),
ol:not([class]) {
    list-style-type: none;
    padding-left: 0;
    padding-right: 2.5em;
}
ul:not([class]) li,
ol:not([class]) li {
    transform: translateX(2.5em);
}

/* images */
img {
    width: inherit; /* for IE8 */
    max-width:100%;
    height:auto;
    -ms-interpolation-mode: bicubic; /* for IE7 */
}
figure {
    margin: 2em auto;
}
figure > p,
figcaption {
    font-size: 0.8em;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
    text-align: center;
}
figcaption > p:only-child {
    display: inline-block;
    text-align: left;
}

/* blockquotes */
blockquote {
    margin-left: 2.5em;
    margin-right: 2.5em;
}
blockquote > footer,
blockquote > cite {
    display: block;
    text-align: right;
    padding-right: 1em;
}

/* tables */
table:not([class]) {
    margin-top: 1em;
    margin-bottom: 1em;
    border-collapse: collapse;
}
table:not([class]) caption {
    text-align: right;
    font-size: 0.8em;
    margin-bottom: 0.625em;
}
table:not([class]) tr {
    border-style: solid;
    border-color: rgba(0,0,0,0.1);
    border-width: 0 0 1px;
}
table:not([class]) th,
table:not([class]) td {
    padding: 0.5em 1em;
    text-align: left;
    vertical-align: top;
}
table:not([class]) thead th,
table:not([class]) thead td {
    vertical-align: bottom;
    border-bottom-width: 2px;
}
